PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Archive_Path_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Archive_Path_Detail_Report');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'AP_path_ID','ID','non-edit','','','','','0','trim');
INSERT INTO "form_fields" VALUES(2,'AP_archive_path','Archive Path','text','64','128','','','','trim|required|max_length[128]');
INSERT INTO "form_fields" VALUES(3,'AP_Server_Name','Archive Server','text','32','64','','','','trim|max_length[64]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'AP_instrument_name','picker.replace','instrumentNamePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'AP_Function','picker.replace','archiveFunctionPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_instrument_name','Instrument Name','60','','Instrument Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_archive_path','Archive Path','60','','Archive Path','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_description','Description','60','','Description','ContainsText','text','128','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Path ID','invoke_entity','value','archive_path/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Instrument Name','invoke_entity','value','instrument/report/~','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'AP_path_ID','ArchiveID','varchar','output','32','AddUpdateArchivePath');
INSERT INTO "sproc_args" VALUES(2,'AP_archive_path','ArchivePath','varchar','input','128','AddUpdateArchivePath');
INSERT INTO "sproc_args" VALUES(3,'AP_Server_Name','ArchiveServer','varchar','input','64','AddUpdateArchivePath');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Instrument Name','detail-report','Instrument Name','instrument/report/~','labelCol','dl_Instrument',NULL);
COMMIT;
