PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Campaign_List_Report_2');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Campaign_Detail_Report_Ex');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'campaignNum','Campaign','text-if-new','50','64','','','','trim|required|max_length[64]');
INSERT INTO "form_fields" VALUES(2,'projectNum','Project','text','50','64','','','','trim|required|max_length[64]');
INSERT INTO "form_fields" VALUES(3,'Description','Description','area','','','4','70','','trim|max_length[512]');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'progmgrPRN','default_function','GetUser()');
INSERT INTO "form_field_options" VALUES(2,'campaignNum','section','General');
INSERT INTO "form_field_options" VALUES(3,'progmgrPRN','section','Team Membership');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'progmgrPRN','picker.replace','userPRNPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'piPRN','picker.replace','userPRNPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'TechnicalLead','picker.append','userPRNPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_campaign','Campaign','6','','Campaign','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_state','State','20','','State','ContainsText','text','24','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_description','Description','20','','Description','ContainsText','text','512','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Campaign','invoke_entity','value','campaign/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Biomaterial','invoke_entity','Campaign','cell_culture/report/-/~','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Sample Prep Requests','invoke_entity','Campaign','sample_prep_request/report/-/-/-/-/~','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'campaignNum','campaignNum','varchar','input','64','AddUpdateCampaign');
INSERT INTO "sproc_args" VALUES(2,'projectNum','projectNum','varchar','input','64','AddUpdateCampaign');
INSERT INTO "sproc_args" VALUES(3,'progmgrPRN','progmgrPRN','varchar','input','64','AddUpdateCampaign');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Cell Cultures','detail-report','Campaign','cell_culture/report/-/~','valueCol','dl_cell_cultures','');
INSERT INTO "detail_report_hotlinks" VALUES(2,'Experiments','detail-report','Campaign','experiment/report/-/~','valueCol','dl_experiments','');
INSERT INTO "detail_report_hotlinks" VALUES(3,'Datasets','detail-report','Campaign','dataset/report/-/-/-/-/-/~','valueCol','dl_datasets','');
CREATE TABLE detail_report_commands ( id INTEGER PRIMARY KEY,  "name" text, "Type" text, "Command" text, "Target" text, "Tooltip" text, "Prompt" text );
INSERT INTO "detail_report_commands" VALUES(1,'Add me as observer','cmd_op','add','notification','Add currently logged in user as observer to this campaign','');
INSERT INTO "detail_report_commands" VALUES(2,'Remove me as observer','cmd_op','remove','notification','Remove currently logged in user as observer from this campaign','');
COMMIT;
