PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Cell_Culture_List_Report_2');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Cell_Culture_Detail_Report');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'Name','Name','text-if-new','60','80','','','','trim|required|max_length[64]|alpha_dash|min_length[8]');
INSERT INTO "form_fields" VALUES(2,'CultureTypeName','Type','text','60','80','','','','trim|required|max_length[32]');
INSERT INTO "form_fields" VALUES(3,'CC_Source_Name','Supplier','text','60','80','','','','trim|required|max_length[64]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'CultureTypeName','picker.replace','cellCultureTypePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'CC_Contact_PRN','picker.replace','userPRNPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'Campaign_Num','list-report.helper','','helper_campaign/report','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_name','Name','20!','','Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_campaign','Campaign','20!','','Campaign','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_source','Source','32','','Source','ContainsText','text','128','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Name','invoke_entity','value','cell_culture/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Reason','min_col_width','value','60','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Comment','min_col_width','value','60','');
CREATE TABLE detail_report_commands ( id INTEGER PRIMARY KEY,  "name" text, "Type" text, "Command" text, "Target" text, "Tooltip" text, "Prompt" text );
INSERT INTO "detail_report_commands" VALUES(1,'Retire Biomaterial','cmd_op','retire_biomaterial','cell_culture','Make this biomaterial inactive and move it to null container','Are you sure that you want to retire this biomaterial?');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Campaign','detail-report','Campaign','campaign/show','labelCol','campaign',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(2,'Container','detail-report','Container','material_items/report/~','labelCol','dl_container','');
INSERT INTO "detail_report_hotlinks" VALUES(3,'+Container','detail-report','Container','material_move_items/report/~','valueCol','dl_container_move','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'Name','cellCultureName','varchar','input','64','AddUpdateCellCulture');
INSERT INTO "sproc_args" VALUES(2,'CC_Source_Name','sourceName','varchar','input','64','AddUpdateCellCulture');
INSERT INTO "sproc_args" VALUES(3,'CC_Contact_PRN','contactPRN','varchar','input','64','AddUpdateCellCulture');
CREATE TABLE external_sources ( id INTEGER PRIMARY KEY,  "source_page" text, "field" text, "type" text, "value" text );
INSERT INTO "external_sources" VALUES(1,'sample_submission','Campaign_Num','ColName','Campaign');
INSERT INTO "external_sources" VALUES(2,'sample_submission','Container','ColName','Container List');
INSERT INTO "external_sources" VALUES(3,'sample_submission','CC_Contact_PRN','ColName','Received By');
COMMIT;
