PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Data_Package_Dataset_PSM_And_PM_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Data Pkg, Acq Start');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','Desc');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Dataset','invoke_entity','value','dataset/show','');
INSERT INTO "list_report_hotlinks" VALUES(2,'PSM_Job','invoke_entity','value','analysis_job/show','');
INSERT INTO "list_report_hotlinks" VALUES(3,'PM_Results_URL','masked_link','value','','{"Label":"Results"}');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_data_package_id','Data Pkg','4!','','Data Pkg','Equals','text','32','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_most_recent_weeks','Most recent weeks','3!','','Acq Start','MostRecentWeeks','text','32','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_psm_tool','PSM_Tool','20','','PSM_Tool','ContainsText','text','64','','');
COMMIT;
