PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('base_table','T_Dataset_Files');
INSERT INTO "general_params" VALUES('list_report_data_table','V_Dataset_Files_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Dataset_ID');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Dataset_ID','invoke_entity','value','datasetid/show','');
INSERT INTO "list_report_hotlinks" VALUES(2,'File_Size_Bytes','format_commas','value','','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'Dataset_ID','Dataset ID','','','Dataset_ID','Equals','text','','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'Dataset','Dataset','','','Dataset','ContainsText','text','','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'Hash','Hash','','','File_Hash','StartsWithText','text','','','');
COMMIT;
