PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE 'chooser_definitions' (

    "id" INTEGER PRIMARY KEY,

  name   text,

  db     text,

  type   text,

  value  text

);
INSERT INTO "chooser_definitions" VALUES(1,'YNPickList','default','select','{"N":"N", "Y":"Y"}');
INSERT INTO "chooser_definitions" VALUES(2,'activeInactivePickList','default','select','{"Active":"Active", "Inactive":"Inactive"}');
INSERT INTO "chooser_definitions" VALUES(3,'activeInactiveInvalidPickList','default','select','{"Active":"Active", "Inactive":"Inactive", "Invalid":"Invalid"}');
COMMIT;
