PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_EUS_Users_List_Report');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_EUS_Users_Detail_Report');
INSERT INTO "general_params" VALUES('detail_report_data_id_col','ID');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','text','32','32','','','','trim|required|max_length[32]');
INSERT INTO "form_fields" VALUES(2,'Name','Name','text','50','50','','','','trim|required|max_length[32]');
INSERT INTO "form_fields" VALUES(3,'Hanford_ID','HanfordID','text','32','32','','','','trim|max_length[32]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'SiteStatus','picker.replace','EUSUserSiteStatusPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_id','ID','12','','ID','Equals','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_name','Name','60','','Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_site_status','Site Status','60','','Site Status','ContainsText','text','128','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Sel','CHECKBOX','ID','','');
INSERT INTO "list_report_hotlinks" VALUES(2,'ID','invoke_entity','value','eus_users/show/','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Proposals','invoke_entity','Name','eus_proposals/report/-/-/','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','EUSPersonID','varchar','input','32','AddUpdateEUSUsers');
INSERT INTO "sproc_args" VALUES(2,'Name','EUSNameFm','varchar','input','50','AddUpdateEUSUsers');
INSERT INTO "sproc_args" VALUES(3,'SiteStatus','EUSSiteStatus','varchar','input','32','AddUpdateEUSUsers');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'PRN','detail-report','PRN','user/show/','labelCol','dl_PRN','');
INSERT INTO "detail_report_hotlinks" VALUES(2,'ID','detail-report','ID','user/report/-/-/-/-/-/','labelCol','dl_eus_user_id','');
COMMIT;
