PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Material_Locations_Picklist');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Location');
INSERT INTO "general_params" VALUES('list_report_helper_multiple_selection','no');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_location','Location','15!','','Location','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_freezer','Freezer','12!','','Freezer','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_shelf','Shelf','6','','Shelf','ContainsText','text','80','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Location','update_opener','value','','');
COMMIT;
