PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Instrument_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Instrument_Detail_Report');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','non-edit','','','','','0','trim');
INSERT INTO "form_fields" VALUES(2,'InstrumentName','InstrumentName','non-edit','','','','','','trim');
INSERT INTO "form_fields" VALUES(3,'InstrumentClass','InstrumentClass','text','32','32','','','LTQ_FT','trim');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'InstrumentClass','picker.replace','instrumentClassPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'CaptureMethod','picker.replace','captureMethodPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'Status','picker.replace','instrumentStatusPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_name','Name','15!','','Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_class','Class','32','','Class','ContainsText','text','64','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_group','Group','32','','Group','ContainsText','text','64','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'ID','invoke_entity','value','instrument/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Allowed Dataset Types','min_col_width','value','60','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Group','invoke_entity','value','instrument_group/show/','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','InstrumentID','int','output','','AddUpdateInstrument');
INSERT INTO "sproc_args" VALUES(2,'InstrumentName','InstrumentName','varchar','input','24','AddUpdateInstrument');
INSERT INTO "sproc_args" VALUES(3,'InstrumentClass','InstrumentClass','varchar','input','32','AddUpdateInstrument');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Allowed Dataset Types','detail-report','Instrument Group','instrument_allowed_dataset_type/report','labelCol','dl_instrument',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(2,'Name','detail-report','Name','instrument_operation_history/report','valueCol','dl_name_operation_history',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(3,'Instrument Group','detail-report','Instrument Group','instrument_group/show/','labelCol','dl_instrument_group',NULL);
COMMIT;
