PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('base_table','T_LC_Cart_Config_History');
INSERT INTO "general_params" VALUES('list_report_data_table','V_LC_Cart_Config_History_List_Report');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_LC_Cart_Config_History_Detail_Report');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','ID','int','input','','AddUpdateLCCartConfigHistory');
INSERT INTO "sproc_args" VALUES(2,'Cart','Cart','varchar','input','128','AddUpdateLCCartConfigHistory');
INSERT INTO "sproc_args" VALUES(3,'DateOfChange','DateOfChange','varchar','input','32','AddUpdateLCCartConfigHistory');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','non-edit','','','','','','trim');
INSERT INTO "form_fields" VALUES(2,'Cart','Cart','text','50','128','','','','trim|required|max_length[128]');
INSERT INTO "form_fields" VALUES(3,'DateOfChange','Date Of Change','text','32','32','','','','trim|required|max_length[32]');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'ID','invoke_entity','value','lc_cart_config_history/show/','');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'Cart','picker.replace','lcCartPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'PostedBy','picker.replace','userPRNPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_cart','Cart','20','','Cart','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_description','Description','20','','Description','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_note','Note','20','','Note','ContainsText','text','2147483647','','');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'DateOfChange','default_function','CurrentDate');
INSERT INTO "form_field_options" VALUES(2,'Note','auto_format','None');
INSERT INTO "form_field_options" VALUES(3,'PostedBy','default_function','GetUser()');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text, "options" text );
INSERT INTO "detail_report_hotlinks" VALUES(1,'Note','markup','Note','','valueCol','','dl_note');
COMMIT;
