PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('base_table','T_LC_Cart_Configuration');
INSERT INTO "general_params" VALUES('list_report_data_table','V_LC_Cart_Configuration_List_Report');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_LC_Cart_Configuration_Detail_Report');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'ID','invoke_entity','value','lc_cart_configuration/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Cart_Name','invoke_entity','value','lc_cart/report/','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Dataset Usage','invoke_entity','Config Name','dataset/report/-/-/-/-/-/-/-/-/-/sfx/AND/Cart%20Config/MatchesText/','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_cart_config','Cart Config','','','Config Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_cart','Cart','','','Cart','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_pumps','Pumps','','','Pumps','ContainsText','text','128','','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','ID','int','input','','AddUpdateLCCartConfiguration');
INSERT INTO "sproc_args" VALUES(2,'Config_Name','configName','varchar','input','128','AddUpdateLCCartConfiguration');
INSERT INTO "sproc_args" VALUES(4,'Description','description','varchar','input','512','AddUpdateLCCartConfiguration');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','non-edit','','','','','','trim');
INSERT INTO "form_fields" VALUES(2,'Config_Name','Config Name','text','50','128','','','','trim|max_length[128]');
INSERT INTO "form_fields" VALUES(4,'Description','Description','area','','','2','70','','trim|max_length[512]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'Config_Name','picker.prepend','lcCartPickList','','','_','');
INSERT INTO "form_field_choosers" VALUES(2,'Cart_Config_State','picker.replace','activeInactiveInvalidPickList','','','','');
INSERT INTO "form_field_choosers" VALUES(3,'Entered_By','picker.replace','userPRNPickList','','',',','');
CREATE TABLE "detail_report_hotlinks" (
	`idx`	INTEGER,
	`name`	text,
	`LinkType`	text,
	`WhichArg`	text,
	`Target`	text,
	`Placement`	text,
	`id`	text,
	`options`	TEXT,
	PRIMARY KEY(`idx`)
);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Entered_By','detail-report','Entered_By','user/report/-/~','labelCol','','{"RemoveRegEx":" [(].*[)]"}');
INSERT INTO "detail_report_hotlinks" VALUES(2,'Updated_By','detail-report','Updated_By','user/report/-/~','labelCol','','{"RemoveRegEx":" [(].*[)]"}');
INSERT INTO "detail_report_hotlinks" VALUES(7,'Primary Gradient','monomarkup','Primary Gradient','','valueCol','dl_primary_gradient','');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'Description','auto_format','none');
INSERT INTO "form_field_options" VALUES(3,'Primary_Gradient','auto_format','none');
INSERT INTO "form_field_options" VALUES(4,'Upstream_Fractionation_Details','auto_format','none');
COMMIT;
