PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('my_db_group','broker');
INSERT INTO "general_params" VALUES('entry_page_data_id_col','Job');
INSERT INTO "general_params" VALUES('entry_sproc','AddMACJob');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'job','job','int','output','','AddMACJob');
INSERT INTO "sproc_args" VALUES(2,'DataPackageID','DataPackageID','int','input','','AddMACJob');
INSERT INTO "sproc_args" VALUES(3,'jobParam','jobParam','varchar','input','8000','AddMACJob');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'job','Job','non-edit','','','','','0','trim|max_length[12]');
INSERT INTO "form_fields" VALUES(2,'DataPackageID','Data Package ID','text','12','12','','','','trim|max_length[12]');
INSERT INTO "form_fields" VALUES(6,'comment','Comment','area','','','4','120','','trim|max_length[512]');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(2,'ownerPRN','default_function','GetUser()');
CREATE TABLE utility_queries ( id integer PRIMARY KEY, name text, label text, db text, "table" text, columns text, sorting text, filters text, hotlinks text );
INSERT INTO "utility_queries" VALUES(2,'parameter_definitions','','broker','V_Pipeline_Script_MAC_With_Fields','Name, Fields as params','','{"Name":"MTx"}','');
INSERT INTO "utility_queries" VALUES(3,'parameter_scripts','','broker','V_Pipeline_Script_MAC_With_Fields','Name, Description','','','');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'ownerPRN','picker.replace','userPRNPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'DataPackageID','list-report.helper','','helper_data_package','',',','');
COMMIT;
