PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Material_Log_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','ID');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_type','Type','32','','Type','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_item','Item','32','','Item','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_initial','Initial','32','','Initial','ContainsText','text','128','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Item','invoke_entity','value','material_container/report/~','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Final','invoke_entity','value','material_location/report/~','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Initial','invoke_entity','value','material_location/report/~','');
COMMIT;
