PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Material_Location_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Location');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Material_Location_Detail_Report');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_location','Location','15!','','Location','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_freezer','Freezer','15!','','Freezer','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_shelf','Shelf','5!','','Shelf','ContainsText','text','80','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Containers','invoke_entity','Location','material_container/report/-/~@','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Freezer','invoke_entity','value','material_location/report/-/~@/-/-/-/-/Active','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Location','invoke_entity','value','material_location/show/','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text, "options" text );
INSERT INTO "detail_report_hotlinks" VALUES(1,'Location','detail-report','Location','material_container/report/-/~','labelCol','dl_location','');
INSERT INTO "detail_report_hotlinks" VALUES(2,'Freezer','detail-report','Freezer','freezers/report/~','labelCol','dl_freezer','');
INSERT INTO "detail_report_hotlinks" VALUES(3,'Containers','detail-report','Location','material_items/report/-/~','labelCol','dl_containers','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'Location','locationTag','varchar','input','64','UpdateMaterialLocation');
INSERT INTO "sproc_args" VALUES(2,'Comment','comment','varchar','input','512','UpdateMaterialLocation');
INSERT INTO "sproc_args" VALUES(3,'Status','status','varchar','input','32','UpdateMaterialLocation');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','non-edit','40','80','','','','trim');
INSERT INTO "form_fields" VALUES(2,'Location','Location','non-edit','40','80','','','','trim');
INSERT INTO "form_fields" VALUES(3,'Comment','Comment','area','','','4','50','','trim|max_length[500]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'Status','picker.replace','activeInactivePickList','','',',','');
COMMIT;
