PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Material_Move_Containers_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Container');
INSERT INTO "general_params" VALUES('list_report_cmds','material_move_container_cmds');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_container','Container','10','','Container','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_location','Location','15!','','Location','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_type','Type','4','','Type','ContainsText','text','10','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Container','invoke_entity','value','material_container/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Items','invoke_entity','Container','material_items/report/~@','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Sel.','CHECKBOX','#ID','','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'<local>','mode','varchar','input','32','UpdateMaterialContainers');
INSERT INTO "sproc_args" VALUES(2,'containerList','containerList','varchar','input','4096','UpdateMaterialContainers');
INSERT INTO "sproc_args" VALUES(3,'newValue','newValue','varchar','input','128','UpdateMaterialContainers');
COMMIT;
