PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Manager_List_By_Type');
INSERT INTO "general_params" VALUES('list_report_data_cols','ID as Sel, ID, [Manager Name], [Manager Type], M_TypeID as TypeID, [Active], [State Last Changed], [Changed By], [Comment]');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Manager Name');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Sel','CHECKBOX','ID','','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Manager Name','invoke_entity','value','mc_params/report','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_m_typeid','M_TypeID','20','','M_TypeID','Equals','text','20','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_manager_name','Manager Name','20','','Manager Name','ContainsText','text','50','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_manager_type','Manager Type','20','','Manager Type','ContainsText','text','50','','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'paramValue','paramName','varchar','input','32','UpdateSingleMgrControlParam');
INSERT INTO "sproc_args" VALUES(2,'newValue','newValue','varchar','input','128','UpdateSingleMgrControlParam');
INSERT INTO "sproc_args" VALUES(3,'managerIDList','managerIDList','varchar','input','8000','UpdateSingleMgrControlParam');
COMMIT;
