PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('base_table','V_ParamValue');
INSERT INTO "general_params" VALUES('my_db_group','manager_control');
INSERT INTO "general_params" VALUES('list_report_data_table','V_ParamValue');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_m_name','M_Name','20','','M_Name','ContainsText','text','50','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_paramname','ParamName','20','','ParamName','ContainsText','text','50','','');
INSERT INTO "list_report_primary_filter" VALUES(5,'pf_value','Value','20','','Value','ContainsText','text','128','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'M_Name','invoke_entity','value','pipeline_processor_step_tools/show','');
COMMIT;
