PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_MTS_MT_DBs');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','MT_DB_ID');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_mt_db_name','DB_Name','20','','MT_DB_Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_description','Description','20','','Description','ContainsText','text','2048','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_state','State','20','','State','ContainsText','text','50','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'MT_DB_Name','invoke_entity','MT_DB_Name','mts_mt_db_jobs/show','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Campaign','invoke_entity','Campaign','campaign/show','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Peptide_DB','invoke_entity','Peptide_DB','mts_pt_db_jobs/show','');
COMMIT;
