PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Notification_Event_List_Report');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Entity','select_case','#EntityType','','{"1":"requested_run_batch","2":"analysis_job_request", "3":"sample_prep_request"}');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_event','Event','20','','Event','ContainsText','text','50','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_entity','Entity','20','','Entity','Equals','text','20','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_entered','Entered','20','','Entered','LaterThan','text','20','','');
COMMIT;
