PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Notification_By_Research_Team');
INSERT INTO "general_params" VALUES('entry_page_data_table','V_Notification_Entry');
INSERT INTO "general_params" VALUES('entry_sproc','UpdateNotificationUserRegistration');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_user','User','20','','User','ContainsText','text','50','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_prn','PRN','20','','#PRN','ContainsText','text','50','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_event','Event','20','','Event','ContainsText','text','50','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Entity','select_case','#EntityType','','{"1":"requested_run_batch","2":"analysis_job_request", "3":"sample_prep_request"}');
INSERT INTO "list_report_hotlinks" VALUES(2,'Name','select_case','#EntityType','','{"4":"dataset","5":"dataset"}');
INSERT INTO "list_report_hotlinks" VALUES(3,'Campaign','invoke_entity','Campaign','campaign/show','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'PRN','PRN','varchar','input','15','UpdateNotificationUserRegistration');
INSERT INTO "sproc_args" VALUES(2,'Name','Name','varchar','input','64','UpdateNotificationUserRegistration');
INSERT INTO "sproc_args" VALUES(3,'RequestedRunBatch','RequestedRunBatch','varchar','input','4','UpdateNotificationUserRegistration');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'PRN','PRN','non-edit','15','15','','','','trim|max_length[15]');
INSERT INTO "form_fields" VALUES(2,'Name','Name','non-edit','50','64','','','','trim|max_length[64]');
INSERT INTO "form_fields" VALUES(3,'RequestedRunBatch','Requested Run Batch (Start or Finish)','text','4','4','','','','trim|max_length[4]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'RequestedRunBatch','picker.replace','yesNoPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'AnalysisJobRequest','picker.replace','yesNoPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'SamplePrepRequest','picker.replace','yesNoPickList','','',',','');
COMMIT;
