PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Organism_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Organism_Detail_Report');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','non-edit','','','','','0','trim|max_length[4]');
INSERT INTO "form_fields" VALUES(2,'orgName','Name','text','50','50','','','','trim|max_length[50]');
INSERT INTO "form_fields" VALUES(3,'orgDescription','Description','area','','','2','60','','trim|max_length[256]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'orgDNATransTabID','picker.replace','dnaTabIDPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'orgMitoDNATransTabID','picker.replace','dnaTabIDPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'orgActive','picker.replace','yesNoAsOneZeroPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_name','Name','30!','','Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_description','Description','15!','','Description','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_ID','ID','6!','','ID','Equals','text','32','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'ID','invoke_entity','value','organism/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Protein Collections','invoke_entity','Name','protein_collection/report/-/~','');
INSERT INTO "list_report_hotlinks" VALUES(3,'NCBI_Taxonomy','invoke_entity','value','ncbi_taxonomy/report/-/StartsWith__@','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'orgName','orgName','varchar','input','128','AddUpdateOrganisms');
INSERT INTO "sproc_args" VALUES(2,'orgShortName','orgShortName','varchar','input','128','AddUpdateOrganisms');
INSERT INTO "sproc_args" VALUES(5,'orgStorageLocation','orgStorageLocation','varchar','input','256','AddUpdateOrganisms');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Protein Collections','detail-report','Name','protein_collection/report/-/~','labelCol','protein_collections','');
INSERT INTO "detail_report_hotlinks" VALUES(2,'NEWT ID','detail-report','NEWT ID','ontology/show/@NEWT1','valueCol','newt_ID','');
INSERT INTO "detail_report_hotlinks" VALUES(3,'+NEWT ID','detail-report','NEWT ID','ontology/report/NEWT/-/-/-/-/','labelCol','newt_List_Report','');
COMMIT;
