PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Processor_Step_Tools_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('my_db_group','broker');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_processor_name','Processor','6','','Processor_Name','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_tool_name','Tool','6','','Tool_Name','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_priority','Priority','6','','Priority','Equals','text','80','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Tool_Name','invoke_entity','value','pipeline_step_tools/show','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Processor_Name','invoke_entity','Processor_Name','pipeline_processor_step_tools/show','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text, "options" text );
INSERT INTO "detail_report_hotlinks" VALUES(1,'Tool_Name','detail-report','Tool_Name','pipeline_processor_step_tools/report/-/@','valueCol','dl_tool_name','');
INSERT INTO "detail_report_hotlinks" VALUES(2,'Machine','detail-report','Machine','pipeline_processor_step_tools/report/-/-/-/-/@','valueCol','dl_machine','');
INSERT INTO "detail_report_hotlinks" VALUES(3,'Group_Name','detail-report','Group_Name','pipeline_processor_step_tools/report/-/-/-/-/-/@','valueCol','dl_group_name','');
COMMIT;
