PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('my_db_group','broker');
INSERT INTO "general_params" VALUES('base_table','T_MAC_Job_Request');
INSERT INTO "general_params" VALUES('list_report_data_table','V_Pipeline_Mac_Job_Request_List_Report');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','ID','int','output','','AddUpdatePipelineMacJobRequest');
INSERT INTO "sproc_args" VALUES(2,'Description','Description','varchar','input','128','AddUpdatePipelineMacJobRequest');
INSERT INTO "sproc_args" VALUES(3,'RequestType','RequestType','varchar','input','128','AddUpdatePipelineMacJobRequest');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID',' ID','non-edit','','','','','','trim');
INSERT INTO "form_fields" VALUES(2,'Description',' Description','text','50','128','','','','trim|max_length[128]');
INSERT INTO "form_fields" VALUES(3,'RequestType',' Request Type','text','50','128','','','','trim|max_length[128]');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'ID','invoke_entity','value','pipeline_mac_job_request/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Scheduled_Job','invoke_entity','value','pipeline_jobs/show/','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_job_type','Job Type','20','','Job Type','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_description','Description','20','','Description','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_requestor','Requestor','20','','Requestor','ContainsText','text','128','','');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'Requestor','picker.replace','userPRNPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'MTDatabase','list-report.helper','','helper_mts_mt_databases/param','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'Options','picker.append','macJobOptionsPicklist','','',',','');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'Requestor','default_function','GetUser()');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Scheduled_Job','detail-report','Scheduled_Job','pipeline_jobs/show/','valueCol','',NULL);
COMMIT;
