PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Pipeline_Jobs_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Pipeline_Jobs_Detail_Report');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Job','invoke_entity','value','pipeline_jobs_raw/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Steps','invoke_entity','Job','pipeline_job_steps/report','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_job','Job','6','','Job','Equals','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_job_state_b','Job_State_B','6','','Job_State_B','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_dataset','Dataset','6','','Dataset','ContainsText','text','80','','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'job','job','int','output','','AddUpdateLocalJobInBroker');
INSERT INTO "sproc_args" VALUES(2,'scriptName','scriptName','varchar','input','64','AddUpdateLocalJobInBroker');
INSERT INTO "sproc_args" VALUES(3,'datasetNum','datasetNum','varchar','input','128','AddUpdateLocalJobInBroker');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'job','Job','non-edit','','','','','0','trim|max_length[12]');
INSERT INTO "form_fields" VALUES(2,'scriptName','Script Name','text','50','64','','','','trim|max_length[64]');
INSERT INTO "form_fields" VALUES(3,'datasetNum','Dataset Num','text','50','128','','','Aggregation','trim|max_length[128]');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'jobParam','auto_format','xml');
COMMIT;
