PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('list_report_sproc','EvaluatePredefinedAnalysisRules');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'datasetNum','Dataset','text','60','128','','','QC_05_3_f_22Jan07_Phoenix_06-11-19','trim|required|max_length[64]');
INSERT INTO "form_fields" VALUES(2,'outputType','Report Type','text','12','12','','','Show Jobs','trim');
INSERT INTO "form_fields" VALUES(3,'RaiseErrorMessages','Raise Error Messages','hidden','1','1','┬á','┬á','1','trim|max_length[1]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'datasetNum','list-report.helper','','helper_dataset/report','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'outputType','picker.replace','predefinedAnalysisPreviewReportType','','',',','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Jobs','invoke_entity','Dataset','analysis_job/report/-/-/-/~','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Job','row_to_url','Dataset','analysis_group/create/predefined_analysis_preview/post','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Rule_ID','invoke_entity','Rule_ID','predefined_analysis/show','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'datasetNum','datasetNum','varchar','input','128','EvaluatePredefinedAnalysisRules');
INSERT INTO "sproc_args" VALUES(2,'outputType','outputType','varchar','input','12','EvaluatePredefinedAnalysisRules');
INSERT INTO "sproc_args" VALUES(3,'<local>','message','varchar','output','512','EvaluatePredefinedAnalysisRules');
COMMIT;
