PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Prep_LC_Column_List_Report');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Prep_LC_Column_Detail_Report');
INSERT INTO "general_params" VALUES('detail_report_data_id_col','Column Name');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ColumnName',' Column Name','text-if-new','50','128','','','','trim|max_length[128]|alpha_dash|min_length[8]');
INSERT INTO "form_fields" VALUES(2,'MfgName',' Mfg Name','text','50','128','','','','trim|max_length[128]');
INSERT INTO "form_fields" VALUES(3,'MfgModel',' Mfg Model','text','50','128','','','','trim|max_length[128]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'State','picker.replace','LCColumnStatePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'OperatorPRN','picker.replace','userPRNPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_column_name','Column Name','20','','Column Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_mfg_name','Mfg Name','20','','Mfg Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_mfg_model','Mfg Model','20','','Mfg Model','ContainsText','text','128','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Column Name','invoke_entity','value','prep_lc_column/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Runs','invoke_entity','Column Name','prep_lc_run/report/-/-/-/~','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ColumnName','ColumnName','varchar','input','128','AddUpdatePrepLCColumn');
INSERT INTO "sproc_args" VALUES(2,'MfgName','MfgName','varchar','input','128','AddUpdatePrepLCColumn');
INSERT INTO "sproc_args" VALUES(3,'MfgModel','MfgModel','varchar','input','128','AddUpdatePrepLCColumn');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'OperatorPRN','default_function','GetUser()');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Runs','detail-report','Column Name','prep_lc_run/report/-/-/-/~','labelCol','dl_column_name','');
COMMIT;
