PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('list_report_sproc','ReportProductionStats');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'Start_Date','Starting Date','text','24','80','','','','trim');
INSERT INTO "form_fields" VALUES(2,'End_Date','Ending Date','text','24','80','','','','trim');
INSERT INTO "form_fields" VALUES(3,'Production_Only','Production Only','text','24','1','','','1','trim');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'Start_Date','default_function','PreviousNWeeks:10');
INSERT INTO "form_field_options" VALUES(2,'End_Date','default_function','CurrentDate');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'Start_Date','startDate','varchar','input','24','ReportProductionStats');
INSERT INTO "sproc_args" VALUES(2,'End_Date','endDate','varchar','input','24','ReportProductionStats');
INSERT INTO "sproc_args" VALUES(3,'Production_Only','productionOnly','tinyint','input','','ReportProductionStats');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Total Datasets','invoke_entity','Instrument','dataset/report/-/-/-','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Study Specific Datasets','column_tooltip','value','[Total Datasets] - [Blank Datasets] - [QC Datasets] - [Bad Datasets]','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Study Specific Datasets per day','column_tooltip','value','Study specific datasets per day','');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'Instrument_Filter_List','picker.append','instrumentNamePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'Production_Only','picker.replace','yesNoAsOneZeroPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'EUS_Usage_Filter_List','picker.append','eusUsageTypePickList','','',',','');
COMMIT;
