PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Protein_Collection_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','desc');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Protein_Collection_List_Report');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Organism Name','invoke_entity','value','organism/report/~','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Usage Last 12 Months','invoke_entity','Name','analysis_job/report/-/-/-/-/-/-/@/-/52','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Usage All Years','invoke_entity','Name','analysis_job/report/-/-/-/-/-/-/@','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_Name','Name','128','','Name','ContainsText','text','','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_Organism','Organism','128','','Organism Name','ContainsText','text','','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_Usage','Most recent weeks','','','Most Recent Usage','MostRecentWeeks','text','','','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Organism Name','detail-report','Organism Name','organism/report/~','labelCol','dl_organism',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(2,'Usage Last 12 Months','detail-report','Name','analysis_job/report/-/-/-/-/-/-/@/-/52','labelCol','dl_usage_12_months',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(3,'Usage All Years','detail-report','Name','analysis_job/report/-/-/-/-/-/-/@/-/-','labelCol','dl_usage_all_years','');
COMMIT;
