PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('base_table','T_Sample_Submission');
INSERT INTO "general_params" VALUES('list_report_data_table','V_Sample_Submission_List_Report');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Sample_Submission_Detail_Report');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'ID','invoke_entity','value','sample_submission/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Campaign','invoke_entity','Campaign','campaign/show','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Container_List','link_list','value','material_container/show','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','ID','int','output','','AddUpdateSampleSubmission');
INSERT INTO "sproc_args" VALUES(2,'Campaign','Campaign','varchar','input','64','AddUpdateSampleSubmission');
INSERT INTO "sproc_args" VALUES(3,'ReceivedBy','ReceivedBy','varchar','input','64','AddUpdateSampleSubmission');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','non-edit','','','','','0','trim');
INSERT INTO "form_fields" VALUES(2,'Campaign','Campaign','text','90','64','','','','trim|max_length[64]');
INSERT INTO "form_fields" VALUES(3,'ReceivedBy','Received By','text','50','64','','','','trim|max_length[64]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'ContainerList','list-report.helper','','helper_material_container_ckbx/report','',',','Choose current container...');
INSERT INTO "form_field_choosers" VALUES(2,'ContainerList','list-report.helper','','helper_material_location_available_ckbx/report','',',','Make new container...');
INSERT INTO "form_field_choosers" VALUES(3,'ReceivedBy','picker.replace','userPRNPickList','','',',','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Container List','link_list','Container List','material_container/show','valueCol','dl_container_list',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(3,'Campaign','detail-report','Campaign','campaign/show','valueCol','dl_campaign',NULL);
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_campaign','Campaign','20','','Campaign','ContainsText','text','64','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_received_by','Received_By','20','','Received_By','ContainsText','text','103','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_description','Description','20','','Description','ContainsText','text','4096','','');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'NewContainerComment','hide','update');
CREATE TABLE detail_report_commands ( id INTEGER PRIMARY KEY,  "name" text, "Type" text, "Command" text, "Target" text, "Tooltip" text, "Prompt" text );
INSERT INTO "detail_report_commands" VALUES(1,'Create Biomaterial','copy_from','','cell_culture','Go to biomaterial entry page and copy information from this sample submission.','');
COMMIT;
