PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Sample_Prep_Biomaterial_Location_List_Report');
INSERT INTO "general_params" VALUES('operations_sproc','DoSamplePrepMaterialOperation');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_id','ID','20','','ID','Equals','text','20','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_request_name','Request_Name','20','','Request_Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_biomaterial','Biomaterial','20','','Biomaterial','ContainsText','text','64','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Biomaterial','invoke_entity','Biomaterial','cell_culture/show','');
INSERT INTO "list_report_hotlinks" VALUES(4,'Container','invoke_entity','value','material_container/show','');
INSERT INTO "list_report_hotlinks" VALUES(5,'Sel','CHECKBOX','value','','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','ID','varchar','input','128','DoSamplePrepMaterialOperation');
INSERT INTO "sproc_args" VALUES(2,'<local>','mode','varchar','input','32','DoSamplePrepMaterialOperation');
INSERT INTO "sproc_args" VALUES(3,'<local>','message','varchar','output','512','DoSamplePrepMaterialOperation');
COMMIT;
