PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Dataset_QC_Metrics');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Dataset_ID');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Instrument','literal_link','value','http://prismweb.pnl.gov/smaqc/index.php/smaqc/instrument/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Dataset','invoke_entity','value','dataset/show/','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Dataset_ID','invoke_entity','value','smaqc/show/','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'SMAQC_Job','detail-report','SMAQC_Job','analysis_job/show','labelCol','job',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(2,'Dataset','detail-report','Dataset','dataset/show','labelCol','dataset',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(5,'Dataset Folder Path','href-folder','Dataset Folder Path','','labelCol','dataset_folder_path',NULL);
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_Instrument_Group','Inst. Group','24','','Instrument Group','ContainsText','text','','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_Instrument','Instrument','24','','Instrument','ContainsText','text','','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_dataset','Dataset','24','','Dataset','ContainsText','text','','','');
COMMIT;
