PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('base_table','T_Dataset');
INSERT INTO "general_params" VALUES('list_report_data_table','V_Tracking_Dataset_List_Report');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Tracking_Dataset_Detail_Report');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'datasetNum','datasetNum','varchar','input','128','AddUpdateTrackingDataset');
INSERT INTO "sproc_args" VALUES(2,'experimentNum','experimentNum','varchar','input','64','AddUpdateTrackingDataset');
INSERT INTO "sproc_args" VALUES(3,'operPRN','operPRN','varchar','input','64','AddUpdateTrackingDataset');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'datasetNum','Dataset','text','50','128','','','','trim|max_length[128]');
INSERT INTO "form_fields" VALUES(2,'experimentNum','Experiment','text','50','64','','','','trim|max_length[64]');
INSERT INTO "form_fields" VALUES(3,'operPRN','User','text','50','64','','','','trim|max_length[64]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'experimentNum','list-report.helper','','helper_experiment/report','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'instrumentName','picker.replace','instrumentNameAdminPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'operPRN','picker.replace','userPRNPickList','','',',','');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'operPRN','default_function','GetUser()');
INSERT INTO "form_field_options" VALUES(2,'runStart','default_function','CurrentDate');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Dataset','invoke_entity','value','tracking_dataset/show/','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_instrument','Instrument','20','','Instrument','ContainsText','text','24','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_emsl_proposal_id','EMSL_Proposal_ID','20','','EMSL_Proposal_ID','ContainsText','text','20','','');
INSERT INTO "list_report_primary_filter" VALUES(4,'pf_month','Month','20','','Month','Equals','text','20','','');
COMMIT;
