PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_sproc','GetMonthlyInstrumentUsageReport');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'instrument','instrument','varchar','input','64','GetMonthlyInstrumentUsageReport');
INSERT INTO "sproc_args" VALUES(2,'year','year','varchar','input','12','GetMonthlyInstrumentUsageReport');
INSERT INTO "sproc_args" VALUES(3,'month','month','varchar','input','12','GetMonthlyInstrumentUsageReport');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'instrument','Instrument','text','50','64','','','','trim|max_length[64]');
INSERT INTO "form_fields" VALUES(2,'year','Year','text','12','12','','','','trim|max_length[12]');
INSERT INTO "form_fields" VALUES(3,'month','Month','text','12','12','','','','trim|max_length[12]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'instrument','picker.replace','instrumentRunUsagePicklist','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'month','picker.replace','monthRunUsagePicklist','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'outputFormat','picker.replace','instrumentRunUsageFormatPicklist','','',',','');
COMMIT;
