parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Models\\SMAQC\\InstrumentModel\:\:\$enddate is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Models/SMAQC/InstrumentModel.php

		-
			message: '#^Property App\\Models\\SMAQC\\InstrumentModel\:\:\$startdate is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Models/SMAQC/InstrumentModel.php

		-
			message: '#^Property App\\Models\\SMAQC\\InstrumentModel\:\:\$status is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Models/SMAQC/InstrumentModel.php

		-
			message: '#^Comparison operation "\<" between 0 and 1 is always true\.$#'
			identifier: smaller.alwaysTrue
			count: 3
			path: app/Models/SMAQC/MetricBase.php
