/* 
 * general formatting for body
 *
 * Edit the version in file app/Views/resource_links/base2css.php to force this style sheet to be reloaded
 */
body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight:400;
    font-size: 13px;
    margin: 0px;
    background-color: #FAFAFA;
}
#body_container {
	height:500px;
}

h1,h2,h3{
  font-family:'Source Sans Pro', verdana, arial, helvetica, sans-serif;
  font-weight:bold;
}

a.broken {
    color: red;
	font-weight:bold;
	font-size: 16px;
}

/* 
 * Some generally used colors 
 */
.bad_clr { 
	color: red;
} 
.warning_clr {
	color: #FF8C00;
}
.enabled_clr {
	color: green;
}
.violet_background {
	background-color: #D9CCFF;
}
.light_red_background {
	background-color: #FFADAD;
}
.clr_30 {
	background-color: #E5FFE5;
}
.clr_45 {
	background-color: #CCECFF;
}
.clr_60 {
	background-color: #FFFF75;
}
.clr_80 {
	background-color: #FF8C00;
	color: Black ;
}
.clr_90 {
	background-color: #FF8C00;
	color: Black ;
	font-weight: bold;
}
.clr_120 {
	background-color: red;
	color: #FFF5EE;
	font-weight: bold;
}
/*
 * page titles
 */
h2.page_title {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-weight:600;
	font-size:22px;
	-webkit-margin-before:0.25em;
	-webkit-margin-after:0em;
}

/*
 * buttons
 */
.lst_cmd_btn {
	min-width:12em;
}
.entry_btn {
	min-width:12em;
}
.search_btn {
}
.copypath_btn {
  font-size: 11px;
  color: #333399;
  border-radius:4px;
  border: 0px;
  float: right;
  margin-left: 3px;
  background-color: #a3bef5;
  background-image: -webkit-linear-gradient(top, #e8effc 0%, #bacff7 100%);
  background-image: -moz-linear-gradient(top, #e8effc 0%, #bacff7 100%);
  background-image: -o-linear-gradient(top, #e8effc 0%, #bacff7 100%);
  background-image: -ms-linear-gradient(top, #e8effc 0%, #bacff7 100%);
  background-image: linear-gradient(top, #e8effc 0%, #bacff7 100%);  
}

.copypath_btn:hover {
  cursor: pointer;
  background-color: #759ef0;
  background-image: -webkit-linear-gradient(top, #a3bef5 0%, #759ef0 100%);
  background-image: -moz-linear-gradient(top, #a3bef5 0%, #759ef0 100%);
  background-image: -o-linear-gradient(top, #a3bef5 0%, #759ef0 100%);
  background-image: -ms-linear-gradient(top, #a3bef5 0%, #759ef0 100%);
  background-image: linear-gradient(top, #a3bef5 0%, #759ef0 100%);  
}

.button {
  outline: 0;
 /* margin: 5px; */
  padding: 4px;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  background-color: #6495ed;
  background-image: -webkit-linear-gradient(top, #6495ed 0%, #486fca 100%);
  background-image: -moz-linear-gradient(top, #6495ed 0%, #486fca 100%);
  background-image: -o-linear-gradient(top, #6495ed 0%, #486fca 100%);
  background-image: -ms-linear-gradient(top, #6495ed 0%, #486fca 100%);
  background-image: linear-gradient(top, #6495ed 0%, #486fca 100%);  
  border: 1px solid #555657;
  width: auto;
  height: 12px;
  line-height: 12px;
  border-radius:6px;
}
a.button {
  color: #FFFFFF;
}


.button-disabled  {
  outline: 0;
 /* margin: 5px; */
  padding: 4px;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  background-color: #686868;
  border: 1px solid #555657;
  width: auto;
  height: 12px;
  line-height: 12px;
  border-radius:6px;
}
a.button-disabled  {
  color: #DDDDDD;
}


input.button, button.button {
    padding: 5px;
    height: auto;
}
.button:hover, button:hover {
    cursor: pointer;
    background-color: #4971ce;
    background-image: -webkit-linear-gradient(top, #4971ce 0%, #324da5 100%);
    background-image: -moz-linear-gradient(top, #4971ce 0%, #324da5 100%);
    background-image: -o-linear-gradient(top, #4971ce 0%, #324da5 100%);
    background-image: -ms-linear-gradient(top, #4971ce 0%, #324da5 100%);
    background-image: linear-gradient(top, #4971ce 0%, #324da5 100%);
}

.button:active, button:active {
    background-color: #7EC5E8;
    cursor: pointer;
}

/* 
 * styling for entry page main table 
 */
table.EPag {
	margin-top: 10px;
	background-color: #BBBBBB;
	border-radius:6px;	
	border-spacing: 1px;
	border-collapse: separate;
}
table.EPag th {
	border-width: 1px;
	padding: 4px;
	border-style: hidden;
	border-color: gray;
	background-color: #E1E7EA;
/** 	border-radius:6px; **/
}
table.EPag td {
	border-width: 1px;
	padding: 2px;
	border-style: hidden;
	background-color: #f5f5f5;
/** 	border-radius: 6px; **/
}
table.EPag h2 {
	display: inline;
}
table.EPag td a:link, table.EPag td a:visited, table.EPag td a:active {
	color: #003399;
	margin-left: 2px;
}
table.EPag td a:hover {
	color:red;
}
table.EPag span.ePhelper {
	padding: 0px 0px 0px 4px;
	font-size: 90%;
	display: inline;
}

.EPag_message {
	width:80%;
	border: thin double black; 
	padding: 4px;
	border-radius:6px;
}
.EPag_error {
	width:80%;
	border: medium double red; 
	padding: 4px;
	border-radius:6px;
}
.EPagCmds {
	padding: 4px;
}
.EPagCmds a {
	padding: 0px 4px 0px 6px;
}
.entry_cmd_button {
	min-width: 8em;
}
.section_block_header_all {
	background-color: #E1E7EA !important;
}

/* 
 * styling for alternating color bands
 */
.ReportOddRow {
    background-color: #EFEFEF;
}
.ReportEvenRow {
    background-color: white;
}

/* 
 * styling for detail report page main table
 */
table.DRep {
	margin-top: 0px;
	background-color: #BBBBBB;
	border-spacing: 1px;
	border: 1px solid #aaa;
	border-collapse: separate;
	clear:left;
 	border-radius: 6px;
}
table.DRep th {
	border-width: 1px;
	padding: 4px;
	border-style: hidden;
	border-color: gray;
	background-color: #E1E7EA;
}
table.DRep td {
	font-size: 12px;
	border-width: 1px;
	padding: 3px;
	border-style: hidden;
	/* Wrap long strings, and limit the width of a single column to 90% of the window size */
	overflow-wrap: break-word;
	max-width: 90vw;
}
table.DRep h2 {
	display: inline;
	margin-right: 20px;
}

table.DRep span {
	padding: 1px 1px 8px;
}

table.DRep pre {
	font-size: 14px;
	font-family: Consolas, monospace;
	display: inline;
	margin: 0px;
}

table.DRep code {
	font-size: 14px;
	font-family: Consolas, monospace;
	display: inline;
	margin: 0px;
}

.DrepAuxInfo {
	padding: 5px 0px 2px 2px;
}
.DrepAuxInfo span {
	padding: 0px 5px 0px 5px;
}
.DrepCmds {
	padding: 4px;
}
.DrepCmds a {
	padding: 0px 4px 0px 6px;
}
#btn_goto_edit_main, #btn_goto_copy_main,  #btn_goto_create_main {
	width:4em;
	margin-right:10px;
	font-size:11px;
}

/* 
 * styling for list report page main table 
 */
table.LRep {
	border-spacing: 1px;
	border-collapse: separate;
	background-color: #BBBBBB;
	border-radius: 4px;
}
table.LRep th {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-weight:600;
	font-size: 14px;
	border-width: 1px;
	padding: 2px;
	border-style: hidden;
	border-color: gray;
	text-align: left;
	white-space: nowrap;
	background-color: #E1E7EA;
/** 	border-radius:6px; **/
}
table.LRep td {
	font-size: 12px;
	border-width: 1px;
	padding: 3px 2px 3px 2px;
	border-style: hidden;
/** 	border-radius:6px; **/
}
table.LRep h2 {
	display: inline;
}
table.LRep td.rht{
	text-align: right;
}
.col_header {
	text-decoration:none;
}

/* 
 * styling for list report paging controls 
 */
.LRepPager {
	padding:0 4em 0 0;
	font-size: 90% !important;
}
.LRepPagerLink {
  text-decoration: none !important;	
}
.LRepPagerCtl {
	margin-left: 6px;
	margin-right: 15px;
}
.LRepPagerCartouche {
	margin-right:10px;
	font-size: 90%;
}
#filters_active {
	font-weight:bold;
}
#paging_container_upper {
	display:none;
}
#paging_container_lower {
	display:none;
}

/* 
 * styling for list report filter forms
 */
.LRepFilter {
	padding: 4px;
	background-color: #BFDBFF;	
}
.LRepFilter span {
	padding:0px 5px 0px 5px;
}
.primary_filter_field {
	color: #DC143C;
}
div.primary_filter_inline {
	display: inline-block; 
	padding-bottom: 1px
}
.filter_container_box {
	font-size: 12px;
} 
.filter_container_box select,input,textarea {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	padding: 2px;
	border-radius: 3px;
	border: 1px solid rgb(163,199,245);
}

/* 
 * styling for list report document export controls
 */
.LRepExport {
	padding: 5px 2px 5px 10px;
	font-size: 0.9em;
}
.LRepExport span {
	padding: 0px 5px 0px 5px;
}

/* 
 * styling for list report filter forms
 */
.LRepChooser {
	padding: 10px 0px 10px 0px;	
}
.LRepChooser span {
	font-weight:bold;
	font-size:105%;
}
.LRepProgress {
	font-weight:bold;
	letter-spacing: 0.25em;
	color: #00008B;
}
#search_controls_container {
	padding-bottom:0px;
}

/* 
 * styling for list report commands 
 */
.LRCmds div {
	padding: 6px;
	font-weight:500;
}
.LRcmd_section {
	padding: 4px;
	margin-top: 4px;
	display:none;
}
.LRcmd_panel {
	margin-top:15px;
	margin-bottom:10px;
}
.LRcmd_cartouche {
	margin-right:20px;
}
/* 
 * formatting for alternating color bands in reports
 */
.ReportCategoryRow {
	background-color: #F0F0F0;
	font-weight: bold;
/*	font-size: larger; */
}

.ReportSubcategoryRow {
	background-color: white;
	font-weight: bold;
}


.ReportOddRow {
    background-color: #EFEFEF;
}

.ReportEvenRow {
    background-color: white;
}

.paging_controls {
	background-color:white;
	border:1px solid gray; 
	padding-top:5px;
	padding-bottom:3px;
	border-radius: 6px;
}
.local_title {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	font-size:20px;
	padding:0 0 3px 0;
}
.FTab {
	border:1px solid #BBBBBB;
	padding-right: 10px;
	padding-left: 6px;
	padding-bottom: 2px;
	margin-left: 2px;
	border-radius: 6px;
}
.filter_caption {
	text-align:center;
	padding-bottom:5px;
}
.filter_label {
	font-weight:500;
}
.filter_clear {
	font-size:0.9em;
	vertical-align:top;
}
.filter_col {
}
/* 
 * containers for command buttons on report and entry pages
 */
.RepCmds, .EntryCmds{
}
.RepCmds ul, .EntryCmds ul  {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.RepCmds li, .EntryCmds li  {
	padding: 5px;
}
.RepCmdsResponse {
	padding:5px;
	font-weight: bold;
}

/* 
 * styling for aux info entry page 
 */
.aux_info_label {
	padding:5px 0px 2px 0px;
	font-weight: bold;
}

/*
 * styling for list report filter box
 */
#filter_box {
	background-color: #BFDBFF;
	border:1px solid gray;
}

/*
 * misc
 */
.chsr {
	padding-bottom:5px;
}
.labelling {
	padding:5px 0 3px 0;
	font-weight:bold;
}
div.block_content {
	display:block;
}
.block_header {
	min-width:50em;
	padding-top:10px;
	padding-bottom:10px;
}
.block_title {
	font-size:125%;
	font-weight:bold;
	padding-right:10px;
	width:18em;
}
.expando_section {
	vertical-align: middle;
	display:inline-block !important;
}
.cmd_link_cartouche {
	margin-right:20px;
}
.cmd_link_a {
	text-decoration:none;
	color:black;
}
.select2-container {
	min-width: 150px !important;
}
.select2-search input {
	min-width: 110px !important;
}
.select2-dropdown {
	min-width: 148px !important;
}
.sel_chooser {
	min-width:105px;
}
