/* expandable list with alternate switch symbol */

body.menu_panel {
    background-color: #E1E7EA;
}
.searchpnl {
	width:95%;
	border:1px solid gray;
	font-size:90%;
	margin:5px 0 0 0;
	padding:2px; 
}
div.searchpnl select {
	font-size:100%;
}
div.searchpnl span {
	margin:0 0 0 0;
	padding:2px; 
	width:100%;
}
.ctlPanel {
	padding-top: 2px;
	padding-bottom: 6px;
	font-size: 90%;
}
.side_menu_ctl_pnl {
	padding-left: 6px;
}
