PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
CREATE TABLE utility_queries (

  id        integer PRIMARY KEY,

  name      text,

  label     text,

  db        text,

  "table"   text,

  columns   text,

  sorting   text,

  filters   text,

  hotlinks  text

);
INSERT INTO "utility_queries" VALUES(1,'users','Test Case 1','','T_Users','U_PRN, U_Name','','{"U_PRN":"CTx", "U_Name":"CTx"}','');
INSERT INTO "utility_queries" VALUES(3,'target_jobs','Test Case 2','package','V_DMS_Data_Package_Aggregation_Jobs','*','','{"Data_Package_ID":"EQn"}','');
INSERT INTO "utility_queries" VALUES(4,'dsj','Test Case 3','package','dbo.CheckDataPackageDatasetJobCoverage(id, tool, mode)','*','','{"id":"Rp", "tool":"Rp", "mode":"Rp"}','');
COMMIT;
