PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('entry_page_data_id_col','ID');
INSERT INTO "general_params" VALUES('entry_sproc','AddJobRequestPSM');
INSERT INTO "general_params" VALUES('entry_submission_cmds','analysis_job_request_psm');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(81,'requestID','requestID','int','output','','AddJobRequestPSM');
INSERT INTO "sproc_args" VALUES(82,'requestName','requestName','varchar','input','128','AddJobRequestPSM');
INSERT INTO "sproc_args" VALUES(83,'datasets','datasets','varchar','output','2147483647','AddJobRequestPSM');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'requestID','Request ID','non-edit','','','','','0','trim|max_length[12]');
INSERT INTO "form_fields" VALUES(2,'requestName','Request Name','text','50','128','','','','trim|max_length[128]|required');
INSERT INTO "form_fields" VALUES(3,'datasets','Datasets','area','','','9','100','','trim|max_length[2147483647]|required');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'ownerPRN','default_function','GetUser()');
INSERT INTO "form_field_options" VALUES(2,'ModificationDynMetOx','section','Modifications');
INSERT INTO "form_field_options" VALUES(3,'requestID','section','General');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'datasets','list-report.helper','','helper_dataset_ckbx/report','',',','Choose by Dataset Name:');
INSERT INTO "form_field_choosers" VALUES(2,'datasets','list-report.helper','','helper_data_package_dataset_ckbx/report','',',','Choose by Data Package:');
INSERT INTO "form_field_choosers" VALUES(3,'protCollNameList','list-report.helper','','helper_protein_collection/report','organismName',',','');
CREATE TABLE entry_commands ( id INTEGER PRIMARY KEY,  "name" text, "type" text, "label" text, "tooltip" text, "target" text );
INSERT INTO "entry_commands" VALUES(1,'previewed in','cmd','Preview','Validate the options and view the parameter file that would be used','');
COMMIT;
