PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Analysis_Job_Request_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Analysis_Job_Request_Detail_Report');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'AJR_requestID','ID','non-edit','','','','','0','trim');
INSERT INTO "form_fields" VALUES(2,'AJR_requestName','Name','text','80','128','','','','trim|required|max_length[128]');
INSERT INTO "form_fields" VALUES(4,'AJR_datasets','Datasets','area','','','12','80','','trim|required');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'requestor','default_function','GetUser()');
INSERT INTO "form_field_options" VALUES(2,'State','permission','DMS_Infrastructure_Administration,DMS_Ops_Administration');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'AJR_datasets','list-report.helper','','helper_dataset_ckbx/report','',',','Choose by Dataset Name:');
INSERT INTO "form_field_choosers" VALUES(2,'AJR_datasets','list-report.helper','','helper_data_package_dataset_ckbx/report','',',','Choose by Data Package:');
INSERT INTO "form_field_choosers" VALUES(3,'AJR_analysisToolName','picker.replace','analysisToolPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_state','State','20','','State','ContainsText','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_requestID','RequestID','20','','Request','Equals','text','80','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_name','Name','32','','Name','ContainsText','text','128','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Request','invoke_entity','value','analysis_job_request/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Jobs','invoke_entity','Request','analysis_request_jobs/report','');
CREATE TABLE detail_report_commands ( id INTEGER PRIMARY KEY,  "name" text, "Type" text, "Command" text, "Target" text, "Tooltip" text, "Prompt" text );
INSERT INTO "detail_report_commands" VALUES(2,'Convert Request to Job(s)','copy_from','','analysis_group','Go to job entry page and copy values from this page.','');
INSERT INTO "detail_report_commands" VALUES(3,'View pre-existing jobs','call','param','existing_jobs_for_request','Show existing jobs made from this request.','');
INSERT INTO "detail_report_commands" VALUES(4,'Delete this request','cmd_op','delete','analysis_job_request','Delete this analysis job request.','Are you sure that you want to delete this request?');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Jobs','detail-report','Request','analysis_request_jobs/report','valueCol','jobs',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(2,'Datasets','link_list','Datasets','dataset/show','valueCol','dl_datasets',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(3,'Pre-existing Jobs','link_list','Pre-existing Jobs','analysis_job/show','valueCol','dl_pre-existing_jobs',NULL);
CREATE TABLE entry_commands ( id INTEGER PRIMARY KEY,  "name" text, "type" text, "label" text, "tooltip" text, "target" text );
INSERT INTO "entry_commands" VALUES(1,'previewed in','cmd','Preview','Determine if current values are valid, but do not change database.','');
CREATE TABLE external_sources ( id INTEGER PRIMARY KEY,  "source_page" text, "field" text, "type" text, "value" text );
INSERT INTO "external_sources" VALUES(1,'analysis_job','AJR_requestID','Literal','0');
INSERT INTO "external_sources" VALUES(2,'analysis_job','AJR_requestName','Literal','New Request');
INSERT INTO "external_sources" VALUES(3,'analysis_job','AJR_datasets','ColName','Dataset');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'AJR_datasets','datasets','text','input','2147483647','AddUpdateAnalysisJobRequest');
INSERT INTO "sproc_args" VALUES(2,'AJR_requestName','requestName','varchar','input','64','AddUpdateAnalysisJobRequest');
INSERT INTO "sproc_args" VALUES(3,'AJR_analysisToolName','toolName','varchar','input','64','AddUpdateAnalysisJobRequest');
COMMIT;
