PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_sproc','ReportDatasetInstrumentRunTime');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Seq');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','ASC');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'startDate','startDate','varchar','input','24','ReportDatasetInstrumentRunTime');
INSERT INTO "sproc_args" VALUES(2,'endDate','endDate','varchar','input','24','ReportDatasetInstrumentRunTime');
INSERT INTO "sproc_args" VALUES(3,'instrumentName','instrumentName','varchar','input','64','ReportDatasetInstrumentRunTime');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'startDate','Start Date','text','24','24','','','','trim|max_length[24]');
INSERT INTO "form_fields" VALUES(2,'endDate','End Date','text','24','24','','','','trim|max_length[24]');
INSERT INTO "form_fields" VALUES(3,'instrumentName','Instrument Name','text','50','64','','','CBSS_Orb1','trim|max_length[64]');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'startDate','default_function','PreviousNWeeks:4');
INSERT INTO "form_field_options" VALUES(2,'endDate','default_function','CurrentDate');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'instrumentName','picker.replace','instrumentNamePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'reportOptions','picker.replace','instrumentRuntimeReportOptions','','',',','');
COMMIT;
