PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE home_menu_sections (
    "id" INTEGER PRIMARY KEY NOT NULL,
    "section_name" TEXT,
    "section_header" TEXT,
    "section_number" TEXT,
    "section_comment" TEXT
);
INSERT INTO "home_menu_sections" VALUES(1,'General','General','1','The DMS is part of PRISM, the Proteomics Research Information Storage and Management System. DMS acquires data from mass spectrometers, collects laboratory information, and tracks and controls the intermediate data processing. ');
INSERT INTO "home_menu_sections" VALUES(2,'Campaign','Campaign','2','Campaign is the overarching umbrella for a particular research interest. Everything in DMS flows up to a campaign.');
INSERT INTO "home_menu_sections" VALUES(4,'Biomaterial','Cell Culture/Biomaterial','4','Biomaterial/Cell Culture refers to the physical sample of biological material, often in its raw form. It is usually something sent to us by a user or collaborator.');
CREATE TABLE home_menu_items (
    "id" INTEGER PRIMARY KEY,
    "section_name" TEXT,
    "page" TEXT,
    "link" TEXT,
    "label" TEXT
);
INSERT INTO "home_menu_items" VALUES(1,'Biomaterial','cell_culture/report','Display','a list of existing biomaterial items');
INSERT INTO "home_menu_items" VALUES(2,'Biomaterial','cell_culture/create','Create','a new biomaterial item');
INSERT INTO "home_menu_items" VALUES(4,'Biomaterial','cell_culture/search','Search','for existing biomaterial items');
CREATE TABLE menu_def (
    "id" INTEGER PRIMARY KEY,
    "owner_menu" TEXT,
    "item_type" TEXT,
    "item_name" TEXT,
    "item_label" TEXT
);
INSERT INTO "menu_def" VALUES(1,'','submenu','Datasets','Datasets');
INSERT INTO "menu_def" VALUES(2,'Datasets','link','dataset/report','Report');
INSERT INTO "menu_def" VALUES(3,'Datasets','link','dataset/search','Search');
CREATE TABLE nav_def (
    "id" INTEGER PRIMARY KEY,
    "owner_menu" TEXT,
    "item_type" TEXT,
    "item_name" TEXT,
    "item_label" TEXT,
    "item_help" TEXT
);
INSERT INTO "nav_def" VALUES(1,'','header_context','side_panel_toggle','','');
INSERT INTO "nav_def" VALUES(2,'','header_context','home_link','','');
INSERT INTO "nav_def" VALUES(3,'','header_context','admin_page_link','','');
COMMIT;
