PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE home_menu_sections (
    "id" INTEGER PRIMARY KEY NOT NULL,
    "section_name" TEXT,
    "section_header" TEXT,
    "section_number" TEXT,
    "section_comment" TEXT
);
INSERT INTO "home_menu_sections" VALUES(2,'Report','Logs/Reports','1','...');
INSERT INTO "home_menu_sections" VALUES(3,'Capture','Datasets and Requested Runs','3','...');
INSERT INTO "home_menu_sections" VALUES(4,'Capture_Pipeline','Capture and Archive','6','...');
CREATE TABLE home_menu_items (
    "id" INTEGER PRIMARY KEY,
    "section_name" TEXT,
    "page" TEXT,
    "link" TEXT,
    "label" TEXT
);
INSERT INTO "home_menu_items" VALUES(1,'Report','submenu','Activity Reports','');
INSERT INTO "home_menu_items" VALUES(2,'Report','dataset_daily/param','Display','analysis job daily report');
INSERT INTO "home_menu_items" VALUES(3,'Report','dataset_instrument_daily/param','Display','daily dataset totals by instrument');
COMMIT;
