PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Experiment_Groups_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','ID');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','non-edit','','','','','0','trim');
INSERT INTO "form_fields" VALUES(2,'GroupType','Group Type','non-edit','','','','','General','trim|max_length[50]');
INSERT INTO "form_fields" VALUES(3,'Tab',' Tab','text','80','128','','','','trim|max_length[128]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'ExperimentList','list-report.helper','','helper_experiment_ckbx/report','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'Researcher','picker.replace','userPRNPickList','','',',','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Parent_Experiment','invoke_entity','value','experiment/show','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Members','invoke_entity','ID','experiment_group_members/report','');
INSERT INTO "list_report_hotlinks" VALUES(3,'ID','invoke_entity','value','experiment_group/show/','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Parent_Experiment','detail-report','Parent_Experiment','experiment/show','labelCol','parent_experiment',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(2,'Members','detail-report','ID','experiment_group_members/report','labelCol','members',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(3,'Prep LC Run','detail-report','Prep LC Run','prep_lc_run/show','labelCol','prep_lc_run',NULL);
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','ID','int','output','','AddUpdateExperimentGroup');
INSERT INTO "sproc_args" VALUES(2,'GroupType','GroupType','varchar','input','50','AddUpdateExperimentGroup');
INSERT INTO "sproc_args" VALUES(3,'Tab','Tab','varchar','input','128','AddUpdateExperimentGroup');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_researcher','Researcher','20','','Researcher','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_tab','Tab','20','','Tab','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_description','Description','20','','Description','ContainsText','text','512','','');
COMMIT;
