PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('entry_sproc','AddExperimentFractions');
INSERT INTO "general_params" VALUES('entry_page_data_table','V_Experiment_Fractions_Entry');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID','ID','non-edit','','','','','0','trim');
INSERT INTO "form_fields" VALUES(2,'Parent_Experiment','Parent Experiment','text','60','128','','','','trim');
INSERT INTO "form_fields" VALUES(3,'Group_Type','Group Type','non-edit','','','','','Fraction','trim');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'Parent_Experiment','list-report.helper','','helper_experiment/report','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'requestOverride','list-report.helper','','helper_sample_prep/report','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'internalStandard','list-report.helper','','helper_internal_standards_predigest/report','',',','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'Parent_Experiment','parentExperiment','varchar','input','128','AddExperimentFractions');
INSERT INTO "sproc_args" VALUES(2,'Group_Type','groupType','varchar','input','20','AddExperimentFractions');
INSERT INTO "sproc_args" VALUES(3,'tab','tab','varchar','input','128','AddExperimentFractions');
COMMIT;
