PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('list_report_sproc','FindDatasetsByInstrument');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'numberOfDatasets','Number Of Datasets Per Instrument','text','20','20','','','','trim|max_length[20]');
INSERT INTO "form_fields" VALUES(2,'instOpsRoles','Instrument Ops Roles','text','60','128','','','','trim|max_length[128]');
INSERT INTO "form_fields" VALUES(3,'Created_After','Created After','text','32','32','','','','trim|max_length[32]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'instOpsRoles','picker.append','instrumentOpsRolePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'Created_After','picker.prevDate','prevDatePickList','','',',','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'numberOfDatasets','numberOfDatasets','varchar','input','20','FindDatasetsByInstrument');
INSERT INTO "sproc_args" VALUES(2,'instOpsRoles','instOpsRoles','varchar','input','128','FindDatasetsByInstrument');
INSERT INTO "sproc_args" VALUES(3,'Created_After','Created_After','varchar','input','32','FindDatasetsByInstrument');
COMMIT;
