PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('list_report_sproc','GetParamFileCrosstab');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ParameterFileTypeName','Parameter File Type Name','text','60','64','','','','trim|required|max_length[64]');
INSERT INTO "form_fields" VALUES(2,'ParameterFileFilter','Parameter File Filter','text','60','128','','','','trim|max_length[128]');
INSERT INTO "form_fields" VALUES(3,'ShowValidOnly','Show Valid Only','text','1','1','','','0','trim|required|max_length[1]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'ParameterFileTypeName','picker.replace','analysisToolPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'ShowModSymbol','picker.replace','yesNoAsOneZeroPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'ShowModName','picker.replace','yesNoAsOneZeroPickList','','',',','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ParameterFileTypeName','ParameterFileTypeName','varchar','input','64','GetParamFileCrosstab');
INSERT INTO "sproc_args" VALUES(2,'ParameterFileFilter','ParameterFileFilter','varchar','input','128','GetParamFileCrosstab');
INSERT INTO "sproc_args" VALUES(3,'ShowValidOnly','ShowValidOnly','tinyint','input','','GetParamFileCrosstab');
COMMIT;
