PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_autoload','1');
INSERT INTO "general_params" VALUES('list_report_sproc','GetJobDetailsForDB');
INSERT INTO "general_params" VALUES('my_db_group','prism_ifc');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'DBName',' DBName','text','50','128','','','','trim|max_length[128]');
INSERT INTO "form_fields" VALUES(2,'criteriaSql','Criteria Sql','area','','','4','70','','trim|max_length[6000]');
INSERT INTO "form_fields" VALUES(3,'returnRowCount','Return Row Count','text','32','32','','','','trim|max_length[32]');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Job','update_opener','value','','');
INSERT INTO "list_report_hotlinks" VALUES(2,'State','CHECKBOX','Job','','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'DBName','DBName','varchar','input','128','GetJobDetailsForDB');
INSERT INTO "sproc_args" VALUES(2,'criteriaSql','criteriaSql','varchar','input','6000','GetJobDetailsForDB');
INSERT INTO "sproc_args" VALUES(3,'returnRowCount','returnRowCount','varchar','input','32','GetJobDetailsForDB');
COMMIT;
