PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('my_db_group','prism_rpt');
INSERT INTO "general_params" VALUES('list_report_data_table','V_Peak_Matching_Param_Files');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_param_file_name','Param_File_Name','20','','Param_File_Name','ContainsText','text','512','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_param_file_description','Param_File_Description','20','','Param_File_Description','ContainsText','text','1024','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Param_File_Name','update_opener','value','','');
COMMIT;
