PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Helper_NCBI_Taxonomy_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_col','Name');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','ASC');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Tax_ID','update_opener','value','','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Parent_Tax_ID','invoke_entity','value','helper_ncbi_taxonomy_id/report/','');
INSERT INTO "list_report_hotlinks" VALUES(3,'Children','invoke_entity','Tax_ID','helper_ncbi_taxonomy_id/report/-/-/-/','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_taxonomy_id','Tax_ID','20','','Tax_ID','Equals','text','24','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_taxonomy_name','Name','20','','Name','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_rank','Rank','20','','Rank','ContainsText','text','64','','');
COMMIT;
