PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_autoload','1');
INSERT INTO "general_params" VALUES('list_report_sproc','GetAllMassTagDatabases');
INSERT INTO "general_params" VALUES('my_db_group','prism_ifc');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'IncludeUnused',' Include Unused','text','12','12','','','1','trim|max_length[12]');
INSERT INTO "form_fields" VALUES(2,'IncludeDeleted',' Include Deleted','text','12','12','','','0','trim|max_length[12]');
INSERT INTO "form_fields" VALUES(3,'ServerFilter',' Server Filter','text','50','128','','','','trim|max_length[128]');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Name','update_opener','value','','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'<local>','message','varchar','output','512','GetAllMassTagDatabases');
INSERT INTO "sproc_args" VALUES(2,'IncludeUnused','IncludeUnused','tinyint','input','','GetAllMassTagDatabases');
INSERT INTO "sproc_args" VALUES(3,'IncludeDeleted','IncludeDeleted','tinyint','input','','GetAllMassTagDatabases');
COMMIT;
