PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Instrument_Class_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Instrument_Class_Detail_Report');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'InstrumentClass','Instrument Class','non-edit','32','32','','','','trim|required|max_length[32]');
INSERT INTO "form_fields" VALUES(2,'IsPurgable','Is Purgable','text','1','1','','','','trim|required|max_length[1]');
INSERT INTO "form_fields" VALUES(3,'RawDataType','Raw Data Type','text','32','32','','','','trim|required|max_length[32]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'IsPurgable','picker.replace','yesNoAsOneZeroPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'RawDataType','picker.replace','rawDataTypePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'RequiresPreparation','picker.replace','yesNoAsOneZeroPickList','','',',','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Instrument Class','invoke_entity','value','instrumentclass/show/','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'InstrumentClass','InstrumentClass','varchar','input','32','AddUpdateInstrumentClass');
INSERT INTO "sproc_args" VALUES(2,'IsPurgable','isPurgable','varchar','input','1','AddUpdateInstrumentClass');
INSERT INTO "sproc_args" VALUES(3,'RawDataType','rawDataType','varchar','input','32','AddUpdateInstrumentClass');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'Params','auto_format','xml');
COMMIT;
