PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('base_table','T_EMSL_Instrument_Usage_Report');
INSERT INTO "general_params" VALUES('list_report_data_table','V_Instrument_Usage_Report_List_Report');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Instrument_Usage_Report_Detail_Report');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_year','Year','20','','Year','Equals','text','20','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_month','Month','20','','Month','Equals','text','20','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_instrument','Instrument','20','','Instrument','ContainsText','text','64','','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'Seq','Seq','int','input','','AddUpdateInstrumentUsageReport');
INSERT INTO "sproc_args" VALUES(2,'EMSLInstID','EMSLInstID','int','input','','AddUpdateInstrumentUsageReport');
INSERT INTO "sproc_args" VALUES(3,'Instrument','Instrument','varchar','input','64','AddUpdateInstrumentUsageReport');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'Seq',' Seq','non-edit','','','','','','trim');
INSERT INTO "form_fields" VALUES(2,'EMSLInstID',' EMSLInst ID','non-edit','','','','','','trim');
INSERT INTO "form_fields" VALUES(3,'Instrument',' Instrument','non-edit','','','','','','trim');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Seq','invoke_entity','value','instrument_usage_report/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'ID','invoke_entity','value','dataset/report/-/@','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text );
INSERT INTO "detail_report_hotlinks" VALUES(1,'ID','detail-report','ID','dataset/report/-/@','valueCol','dl_dataset_id');
INSERT INTO "detail_report_hotlinks" VALUES(2,'Instrument','detail-report','Instrument','instrument/report/~@','valueCol','dl_instrument');
COMMIT;
