PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Instrument_Allowed_Dataset_Type_List_Report');
INSERT INTO "general_params" VALUES('list_report_cmds','instrument_allowed_dataset_type_cmds');
INSERT INTO "general_params" VALUES('list_report_cmds_url','/instrument_allowed_dataset_type/operation');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Sel','row_to_json','Sel','','{ "rowAction":"lcmd.instrument_allowed_dataset_type.localRowAction" }');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'InstrumentGroup','InstrumentGroup','varchar','input','64','UpdateInstrumentGroupAllowedDatasetType');
INSERT INTO "sproc_args" VALUES(2,'DatasetType','DatasetType','varchar','input','50','UpdateInstrumentGroupAllowedDatasetType');
INSERT INTO "sproc_args" VALUES(3,'Comment','Comment','varchar','input','1024','UpdateInstrumentGroupAllowedDatasetType');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_instrument_group','Instrument Group','20','','Instrument Group','MatchesText','text','64','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_dataset_type','Dataset Type','20','','Dataset Type','ContainsText','text','50','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_type_description','Type Description','20','','Type Description','ContainsText','text','128','','');
COMMIT;
