PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('entry_sproc','AddNewInstrument');
INSERT INTO "general_params" VALUES('post_submission_link_tag','instrument');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'iName','Instrument Name','text','24','24','','','VOrbi0x','trim|required|max_length[24]');
INSERT INTO "form_fields" VALUES(2,'iClass','Instrument Class','text','32','32','','','LTQ_FT','trim|required|max_length[32]');
INSERT INTO "form_fields" VALUES(3,'InstrumentGroup','Instrument Group','text','64','64','','','Other','trim|required|max_length[64]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'iClass','picker.replace','instrumentClassPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'iMethod','picker.replace','captureMethodPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'OperationsRole','picker.replace','instrumentOpsRolePickList','','',',','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'iName','iName','varchar','input','24','AddNewInstrument');
INSERT INTO "sproc_args" VALUES(2,'iClass','iClass','varchar','input','32','AddNewInstrument');
INSERT INTO "sproc_args" VALUES(3,'iMethod','iMethod','varchar','input','10','AddNewInstrument');
COMMIT;
