PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('base_table','T_Param_Files');
INSERT INTO "general_params" VALUES('list_report_data_table','V_Param_File_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Param_File_ID','invoke_entity','value','param_file/show/','');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'Param_File_ID','ID','non-edit','','','','','','trim');
INSERT INTO "form_fields" VALUES(2,'Param_File_Name','Name','text','80','255','','','','trim|required|max_length[255]');
INSERT INTO "form_fields" VALUES(3,'Param_File_Description','Description','area','','','4','80','','trim|required|max_length[1024]');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'Param_File_ID','paramFileID','int','input','','AddUpdateParamFile');
INSERT INTO "sproc_args" VALUES(2,'Param_File_Name','paramFileName','varchar','input','255','AddUpdateParamFile');
INSERT INTO "sproc_args" VALUES(3,'Param_File_Description','paramFileDesc','varchar','input','1024','AddUpdateParamFile');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text );
INSERT INTO "detail_report_hotlinks" VALUES(1,'Job Usage Count','detail-report','Name','analysis_job/report/-/-/-/-/-/~@','valueCol','dl_job_usage_count');
INSERT INTO "detail_report_hotlinks" VALUES(2,'Primary Tool','detail-report','Primary Tool','analysis_job/report/-/-/@','labelCol','dl_primary_tool');
INSERT INTO "detail_report_hotlinks" VALUES(3,'Mass_Mods','detail-report','ID','param_file_mass_mods/report/@','labelCol','dl_mass_mods');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_param_file_id','ID','5!','','Param_File_ID','Equals','text','20','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_param_file_name','Name','20!','','Param_File_Name','ContainsText','text','255','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_param_file_type','Type','20','','Param_File_Type','ContainsText','text','50','','');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'Param_File_Type','picker.replace','paramFileTypePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'Valid','picker.replace','yesNoAsOneZeroPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'ReplaceMassMods','picker.replace','yesNoAsOneZeroPickList','','',',','');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'MassMods','auto_format','none');
COMMIT;
