PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Prep_LC_Run_List_Report');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Prep_LC_Run_Detail_Report');
INSERT INTO "general_params" VALUES('detail_report_data_id_col','ID');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'ID',' ID','non-edit','','','','','','trim');
INSERT INTO "form_fields" VALUES(2,'Tab',' Tab','text','50','128','','','','trim|max_length[128]');
INSERT INTO "form_fields" VALUES(3,'Instrument',' Instrument','text','50','128','','','','trim|max_length[128]|required');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'OperatorPRN','default_function','GetUser()');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'OperatorPRN','picker.replace','userPRNPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'LCColumn','list-report.helper','','helper_prep_lc_column/report','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'Instrument','picker.replace','prepInstrumentPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_id','ID','20','','ID','Equals','text','20','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_tab','Tab','20','','Tab','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_instrument','Instrument','20','','Instrument','ContainsText','text','128','','');
CREATE TABLE primary_filter_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text );
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'ID','invoke_entity','value','prep_lc_run/show','');
INSERT INTO "list_report_hotlinks" VALUES(2,'Sample Prep Request','link_list','value','sample_prep_request/show','');
INSERT INTO "list_report_hotlinks" VALUES(3,'LC Column','invoke_entity','value','prep_lc_column/show','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Sample Prep Request','link_list','Sample Prep Request','sample_prep_request/show','valueCol','dl_sample_prep_request',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(2,'Experiment Groups','link_list','Experiment Groups','experiment_group/show','valueCol','dl_experiment_groups',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(3,'Folder','href-folder','Folder','','valueCol','dl_folder',NULL);
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'ID','ID','int','output','','AddUpdatePrepLCRun');
INSERT INTO "sproc_args" VALUES(2,'Tab','Tab','varchar','input','128','AddUpdatePrepLCRun');
INSERT INTO "sproc_args" VALUES(3,'Instrument','Instrument','varchar','input','128','AddUpdatePrepLCRun');
CREATE TABLE detail_report_commands ( id INTEGER PRIMARY KEY,  "name" text, "Type" text, "Command" text, "Target" text, "Tooltip" text, "Prompt" text );
INSERT INTO "detail_report_commands" VALUES(1,'Capture Dataset','copy_from','create','dataset','Create capture job','');
COMMIT;
