PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE loadable_entities (

 id INTEGER PRIMARY KEY, 
"entity_type" text,
"config_source" text,
"aux_info_target" text,
"existence_check_sql" text,
"key" text
);
INSERT INTO "loadable_entities" VALUES(1,'EXPERIMENT','experiment','Experiment','SELECT Exp_ID AS ID FROM T_Experiments WHERE Experiment_Num = KEY','name');
INSERT INTO "loadable_entities" VALUES(2,'REQUESTED RUN','requested_run','','SELECT ID FROM T_Requested_Run WHERE RDS_Name = KEY','ID');
INSERT INTO "loadable_entities" VALUES(3,'CELL CULTURE','cell_culture','Cell Culture','SELECT CC_ID AS ID FROM T_Cell_Culture WHERE CC_Name = KEY','name');
COMMIT;
