PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_Storage_List_Report');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_Storage_Detail_Report');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'SP_ID','ID','non-edit','','','','','0','trim');
INSERT INTO "form_fields" VALUES(2,'SP_path','Path','text','40','255','','','','trim|required|max_length[255]');
INSERT INTO "form_fields" VALUES(3,'SP_vol_name_client','Volume (client)','text','40','128','','','','trim|max_length[128]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'SP_function','picker.replace','storageFunctionPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'SP_instrument_name','picker.replace','instrumentNamePickList','','',',','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'ID','invoke_entity','value','storage/show/','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'SP_path','path','varchar','input','255','AddUpdateStorage');
INSERT INTO "sproc_args" VALUES(2,'SP_vol_name_client','volNameClient','varchar','input','128','AddUpdateStorage');
INSERT INTO "sproc_args" VALUES(3,'SP_vol_name_server','volNameServer','varchar','input','128','AddUpdateStorage');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_vol_client','Vol Client','20','','Vol Client','ContainsText','text','128','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_instrument','Instrument','20','','Instrument','ContainsText','text','50','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_function','Function','20','','Function','ContainsText','text','50','','');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Instrument','detail-report','Instrument','instrument/report/~','labelCol','dl_Instrument',NULL);
COMMIT;
