PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('entry_sproc','UpdateAnalysisJobs');
INSERT INTO "general_params" VALUES('entry_page_data_table','V_Update_Analysis_Jobs_Entry');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'JobList','Job List','area','','','4','60','','trim|required|max_length[6000]');
INSERT INTO "form_fields" VALUES(2,'state','State','text','32','32','','','','trim|max_length[32]');
INSERT INTO "form_fields" VALUES(3,'priority','Priority','text','12','12','','','','trim|max_length[12]');
CREATE TABLE form_field_options ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "parameter" text );
INSERT INTO "form_field_options" VALUES(1,'JobList','enable','none');
INSERT INTO "form_field_options" VALUES(2,'state','enable','ckbx');
INSERT INTO "form_field_options" VALUES(3,'priority','enable','ckbx');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'JobList','list-report.helper','','helper_analysis_job_ckbx/report','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'state','picker.replace','analysisJobStatePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'priority','picker.replace','analysisJobPriPickList','','',',','');
CREATE TABLE entry_commands ( id INTEGER PRIMARY KEY,  "name" text, "type" text, "label" text, "tooltip" text, "target" text );
INSERT INTO "entry_commands" VALUES(1,'update','override','Update','','add');
INSERT INTO "entry_commands" VALUES(2,'preview','cmd','Validate changes','Validate without making any changes to database','');
INSERT INTO "entry_commands" VALUES(3,'Reset','cmd','Reset the selected jobs','Make changes in the selected jobs and also overide job state to "New" and clear run times','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'JobList','JobList','varchar','input','6000','UpdateAnalysisJobs');
INSERT INTO "sproc_args" VALUES(2,'state','state','varchar','input','32','UpdateAnalysisJobs');
INSERT INTO "sproc_args" VALUES(3,'priority','priority','varchar','input','12','UpdateAnalysisJobs');
COMMIT;
