PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE general_params ( "name" text, "value" text );
INSERT INTO "general_params" VALUES('list_report_data_table','V_User_List_Report_2');
INSERT INTO "general_params" VALUES('list_report_data_sort_dir','DESC');
INSERT INTO "general_params" VALUES('detail_report_data_table','V_User_Detail_Report');
CREATE TABLE form_fields ( id INTEGER PRIMARY KEY, "name"  text, "label" text, "type" text, "size" text, "maxlength" text, "rows" text, "cols" text, "default" text, "rules" text);
INSERT INTO "form_fields" VALUES(1,'Username','Username','text','20','50','','','','trim|required|max_length[50]');
INSERT INTO "form_fields" VALUES(2,'HanfordIDNum','Hanford ID','text','20','50','','','','trim|required|max_length[50]');
INSERT INTO "form_fields" VALUES(3,'LastNameFirstName','Last Name, First Name','text','50','128','','','','trim|required|max_length[128]');
CREATE TABLE form_field_choosers ( id INTEGER PRIMARY KEY,  "field" text, "type" text, "PickListName" text, "Target" text, "XRef" text, "Delimiter" text, "Label" text);
INSERT INTO "form_field_choosers" VALUES(1,'UserStatus','picker.replace','activeInactivePickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(2,'UserUpdate','picker.replace','YNPickList','','',',','');
INSERT INTO "form_field_choosers" VALUES(3,'OperationsList','picker.append','userOperationsPickList','','',',','');
CREATE TABLE list_report_primary_filter ( id INTEGER PRIMARY KEY,  "name" text, "label" text, "size" text, "value" text, "col" text, "cmp" text, "type" text, "maxlength" text, "rows" text, "cols" text );
INSERT INTO "list_report_primary_filter" VALUES(1,'pf_username','Username','32','','Username','ContainsText','text','64','','');
INSERT INTO "list_report_primary_filter" VALUES(2,'pf_name','Name','32','','Name','ContainsText','text','64','','');
INSERT INTO "list_report_primary_filter" VALUES(3,'pf_status','Status','32','','Status','ContainsText','text','64','','');
CREATE TABLE list_report_hotlinks ( id INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Options" text );
INSERT INTO "list_report_hotlinks" VALUES(1,'Username','invoke_entity','value','user/show/','');
INSERT INTO "list_report_hotlinks" VALUES(2,'EUS_Person_ID','invoke_entity','value','eus_users/report/','');
CREATE TABLE sproc_args ( id INTEGER PRIMARY KEY, "field" text, "name" text, "type" text, "dir" text, "size" text, "procedure" text);
INSERT INTO "sproc_args" VALUES(1,'Username','Username','varchar','input','50','AddUpdateUser');
INSERT INTO "sproc_args" VALUES(2,'HanfordIDNum','HanfordIDNum','varchar','input','50','AddUpdateUser');
INSERT INTO "sproc_args" VALUES(3,'Payroll','Payroll','varchar','input','32','AddUpdateUser');
CREATE TABLE detail_report_hotlinks ( idx INTEGER PRIMARY KEY,  "name" text, "LinkType" text, "WhichArg" text, "Target" text, "Placement" text, "id" text , options text);
INSERT INTO "detail_report_hotlinks" VALUES(1,'Operations List','detail-report','Operations List','user_operation/report/','labelCol','dl_Operations_List',NULL);
INSERT INTO "detail_report_hotlinks" VALUES(2,'EUS_Person_ID','detail-report','EUS_Person_ID','eus_users/report/','valueCol','dl_EUS_Person_ID',NULL);
COMMIT;
